<h2 class= "title is-2">Categories</h2>

<ol class="ml-5">
    <%= render @categories %>
</ol>

<%# okay so got the list of categories, now on the show page i need to make it so the products show up there %>