<hr>
<footer>
  <p><em>Parbjot ECommerce</em></p>
  <ul class="mt-5">
    <li><%= link_to "Products", root_path %></li>
    <li><%= link_to "Product Manufacturers", manufacturers_path %></li>
  </ul>
</footer>