<hr>
<footer>
  <p><em>Parbjot ECommerce</em></p>
  <ul class="mt-5">
    <li><%= link_to "Products", root_path %></li>
    <li><%= link_to "Product Manufacturers", manufacturers_path %></li>
    <li><%= link_to "Product Categories", categories_path %></li>
    <% cms_pages.each do | page | %>
      <li><%= link_to page.title, permalink_path(page.permalink) %></li>
    <% end %>
  </ul>
</footer>