<hr>
<footer>
  <p><em>Parbjot ECommerce</em></p>
  <ul class="mt-5">
    <li><%= link_to "Products", root_path %></li>
    <li><%= link_to "Product Manufacturers", manufacturers_path %></li>
    <li><%= link_to 'About Our Products and Data', permalink_path('about_the_data') %></li>
    <li><%= link_to 'Contact Us', permalink_path('contact') %></li>
  </ul>
</footer>