<h2 class= "title is-2">Manufacturers</h2>
<ol class="ml-5">
  <% @manufacturers.each do | manufacturer | %>
    <li>
      <%= link_to manufacturer.name, manufacturer %>
      <em>(<%= pluralize manufacturer.product_count, "Product" %>)</em>
    </li>
  <% end %>
</ol>